---
pagination:
  data: collections.louayzehFamilies
  size: 1
  alias: fam
permalink: "/projects/louayzeh-village/floor-plans/{{ fam.slug }}/index.html"
layout: layouts/collection.njk
eleventyExcludeFromCollections: true
---
